<body>
    <div class="container">
        <aside>
            <app-org-navbar></app-org-navbar>
        </aside>

        <div class="content">
          <nav class="navbar navbar-expand-lg rounded" aria-label="Thirteenth navbar example">
            <div class="container-fluid">
              <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample11">
                <div class="d-flex flex-column align-items-start">
                  <h1 class="navbar-brand mb-0 p-0" style="font-family: 'Roboto';">Organization Profile</h1>
                  <ul class="breadcrumb ps-0 mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Organization Profile</li>
                  </ul>
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-success" data-bs-backdrop="fade" data-bs-toggle="modal" data-bs-target="#editOrgProfileModal" >
                    Edit Profile
                  </button>
                </div>
              </div>
            </div>
          </nav>

          <div class="card">
            <img src="assets\img\bg_04.png" class="card-img" width="200" height="200">
            <div class="card-img-overlay d-flex center">
              <div class="img-square-wrapper">
                <img class="" [src]="this.logo ? this.logo : 'assets/img/profile-pic.png'" alt="Organization Logo" style="width: auto; height: 170px;">
              </div>
              <div class="card-body p-3">
                <h4 class="card-text mb-0 p-0" style="font-weight: 700;" name="orgName" value="orgName" [(ngModel)]="orgName" [ngModelOptions]="{standalone: true}">{{orgName}}</h4>
                <p class="card-text mb-0" style="font-weight: bold;" name="email" value="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">{{email}}</p>
                <p class="card-text mb-0">Organization Type: <span style="font-weight: bold;"></span></p>
                <p class="card-text mb-0">Organization Code: <span style="font-weight: bold;">{{orgCode}}</span></p>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-6 mb-1 justify-content-center">
            <div class="card border-left-primary">
                <div class="card-body">
                  <div class="col mr-2">
                    <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">About</h4>
                    <p class="card-text" name="about" value="about" [(ngModel)]="about" [ngModelOptions]="{standalone: true}">{{about}}</p>
                    <br>
                    <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">History</h4>
                    <p class="card-text" name="orgHistory" value="orgHistory" [(ngModel)]="orgHistory" [ngModelOptions]="{standalone: true}">{{orgHistory}}</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-4 col-md-6 mb-4 justify-content-center">
              <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                  <div class="col mr-2">
                    <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">Mission</h4>
                    <p class="card-text" name="mission" value="mission" [(ngModel)]="mission" [ngModelOptions]="{standalone: true}">{{mission}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4 justify-content-center">
              <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                  <div class="col mr-2">
                    <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">Vision</h4>
                    <p class="card-text" name="vision" value="vision" [(ngModel)]="vision" [ngModelOptions]="{standalone: true}">{{vision}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4 justify-content-center">
              <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                  <div class="col mr-2">
                    <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">Core Values</h4>
                    <p class="card-text" name="coreValues" value="coreValues" [(ngModel)]="coreValues" [ngModelOptions]="{standalone: true}">{{coreValues}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

    <!-- Edit Org Modal -->
      <div class="modal" id="editOrgProfileModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true" *ngIf="_id">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body center">
                      <h2 class="text-center">Edit Organization Information</h2>
                      <form id="editOrgForm">
                          <!-- Organization Information -->
                          <div class="form-group">
                              <label style="margin-top: 10px;">Organization Name</label>
                                  <input type="text" class="form-control" id="editOrgName" placeholder="Enter organization name" [(ngModel)]="orgName" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="form-group">
                              <label style="margin-top: 10px;">Organization Type</label>
                              <select id="orgType" formControlName="orgType" name="orgType" class="form-control" id="editOrgType" placeholder="Enter organization type" [(ngModel)]="orgType" [ngModelOptions]="{standalone: true}" >
                                <option value="" disabled selected>Select Organization Type</option>
                                <option value="Human Rights">Human Rights</option>
                                <option value="Arts">Arts</option>
                                <option value="Education">Education & Youth Development</option>
                                <option value="Environmental">Environmental & Animal Welfare</option>
                                <option value="Recreational">Recreational</option>
                                <option value="Health">Health & Research</option>
                                <option value="Political">Political</option>
                                <option value="Professional & Employment">Professional & Employment</option>
                                <option value="Religious">Religious</option>
                                <option value="Student">Student</option>
                                <option value="Sports">Sports</option>
                                <option value="Others">Others</option>
                            </select>
                          </div>
                          <div class="form-group">
                              <label style="margin-top: 10px;">Brief Description of the Organization's Purpose</label>
                              <textarea class="form-control" id="editOrgDescription" placeholder="Enter organization description" [(ngModel)]="about" [ngModelOptions]="{standalone: true}"></textarea>
                          </div>
                          <div class="form-group">
                              <label style="margin-top: 10px;">Organization's History</label>
                              <textarea class="form-control" id="editOrgHistory" placeholder="Enter organization history" [(ngModel)]="orgHistory" [ngModelOptions]="{standalone: true}"></textarea>
                          </div>

                          <!-- Organization Goals -->
                          <div class="form-group">
                              <label style="margin-top: 10px;">Mission</label>
                              <textarea class="form-control" id="editOrgMission" placeholder="Enter organization mission" [(ngModel)]="mission" [ngModelOptions]="{standalone: true}"></textarea>
                          </div>
                          <div class="form-group">
                              <label style="margin-top: 10px;">Vision</label>
                              <textarea class="form-control" id="editOrgVision" placeholder="Enter organization vision" [(ngModel)]="vision" [ngModelOptions]="{standalone: true}"></textarea>
                          </div>
                          <div class="form-group">
                              <label style="margin-top: 10px;">Core Values</label>
                              <textarea class="form-control" id="editCoreValues" placeholder="Enter your organization's core values" [(ngModel)]="coreValues" [ngModelOptions]="{standalone: true}"></textarea>
                          </div>

                          <!-- Organization Goals -->
                          <div class="form-group" id="editEventPoster">
                              <div>
                                  <label style="margin-top: 10px;">Organization's Logo </label>
                                  <input class="form-control" type="file" id="formFile" onchange="preview('frame')" onchange="preview('frame')" (change)="onChange($event)" [value]="logo" [(ngModel)]="logo" [ngModelOptions]="{standalone: true}"  accept="image/*">
                              </div>
                              <img id="frame" src="" class="img-fluid" />
                          </div>

                          <!-- Account Information -->
                          <div class="form-group">
                              <label style="margin-top: 10px;">Organization Email</label>
                              <input type="text" class="form-control" id="editOrgEmail" placeholder="Enter the organization email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                          </div>

                          <div class="text-center center">
                              <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="updateOrgInfo()">Save</button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-dismiss="modal">Cancel</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
  </div>



