@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f5fa;
}

.container {
    display: flex;
    margin: 0;
}

aside {
    width: 21%;
    /* Fixed sidebar on the left */
    flex: 0 0 auto; /* Prevent sidebar from growing or shrinking */
    width: 280px; /* Adjust the width as needed */
    position: fixed; /* Fix the sidebar in place */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it on the left side */
    bottom: 0; /* Extend it to the bottom of the viewport */
}

.container {
    max-width: 100%;
}

.content {
    /* Scrollable content area */
    flex: 1; /* Allow content to grow and take remaining space */
    margin-left: 260px; /* Adjust for the sidebar width */
    margin-top: 20px;
    padding: 20px; /* Add padding as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

/* Hide the scrollbar for webkit-based browsers */
.content::-webkit-scrollbar {
    display: none;
}

.container-fluid {
    padding-bottom: 10px;
    border-bottom: 1px solid #a0a0a0;
}

.content {
    height: 100vh;
}

.navbar-brand {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
	font-size: 35px;
}


#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Profile Picture';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

/* File Uploader Starts here */
.imagecontainer{
    width: 100%;
}
.card {
  margin-top: 20px;
}
.btn-upload {
    padding: 10px 20px;
    margin-left: 10px;
}
.upload-input-group {
    margin-bottom: 10px;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  height: 45px;
}

.content {
    height: 100vh;
}

.navbar-brand {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.text-title {
    padding: 10px;
    padding-bottom: 0;
}


.card {
    font-family: 'Fira Sans', sans-serif;
}

.card-text {
    margin-bottom: 3px;
    margin-top: 0;
}

.card-eventtitle {
    margin-bottom: 5px;
    font-weight: 800;
}

.card-title1 {
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid #435d7d;
}

.card-body {
    justify-content: center;
    align-items: center;
}

.btn {
	margin: 10px;
	border-radius: 49px;
	padding-left: 30px;
	padding-right: 30px;
}