<nav class="nav-bar">
    <div class="nav-hold">
      <div class="nav-logo">
        <a href="#"><img src="assets/img/logo-name1.png"></a>
      </div>
      <div class="nav-menu" id="nav">&#9776;</div>
          <ul class="nav-items">
            <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
            <li class="nav-item"><a routerLink="/guestEvents" class="nav-link">Events</a></li>
            <li class="nav-item"><a routerLink="/developers" class="nav-link">Developers</a></li>
            <li><button class="login-button" (click)="redirectToLogin()">Login</button></li>
      </ul>
    </div>
  </nav>

  <div class="about-banner d-inline-flex py-5 text-center text-white">
    <div class="col-md-6 p-5">
        <h1 class="text-white-emphasis" style="font-size: 70px;">Elevate Your Career!</h1>  
        <p class="col-lg-8 mx-auto fs-3 py-3"> Explore upcoming opportunities to connect, learn, and grow within your industry.</p>
        <button class="btn my-4 px-5 py-2 rounded-pill text-dark" style="background-color: #fff; filter: drop-shadow(3px 3px 5px #707070); font-weight: 500;" routerLink="/auth-login">Get Started</button>
      </div>
  
    <div class="col-md-6">
        <img src="assets\img\1.png" width="100%" class="" style="filter: drop-shadow(3px 3px 5px #707070);">
    </div>
      </div>

      <section>
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-center">Your Path to Success Starts Here</h2>
                        <p class="text-center col-md-8 offset-md-2"><i>Explore different Professional Organizations and Join us in shaping the future through our diverse range of events and activities.</i></p>
                    </div>
                </div>
            </div>

            <div class="row">

                  <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="assets\img\bg_04.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="assets\img\icpep.png" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                        <h2>Institute of Computer Engineers of the Philippines <small>Come and look at our events!</small></h2>
                        <button (click)="onBtnClick()" class="btn card_btn">VIEW EVENTS</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="assets\img\bg_04.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="assets\img\icpep.png" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                        <h2>Institute of Computer Engineers of the Philippines <small>Come and look at our events!</small></h2>
                        <button class="btn card_btn">VIEW EVENTS</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="assets\img\bg_04.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="assets\img\icpep.png" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                        <h2>Institute of Computer Engineers of the Philippines <small>Come and look at our events!</small></h2>
                        <button class="btn card_btn">VIEW EVENTS</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="assets\img\bg_04.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="assets\img\icpep.png" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                        <h2>Institute of Computer Engineers of the Philippines <small>Come and look at our events!</small></h2>
                        <button class="btn card_btn">VIEW EVENTS</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="assets\img\bg_04.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="assets\img\icpep.png" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                        <h2>Institute of Computer Engineers of the Philippines <small>Come and look at our events!</small></h2>
                        <button class="btn card_btn">VIEW EVENTS</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="assets\img\bg_04.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="assets\img\icpep.png" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                        <h2>Institute of Computer Engineers of the Philippines <small>Come and look at our events!</small></h2>
                        <button class="btn card_btn">VIEW EVENTS</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
      </section>