@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f5fa;
}

.container {
    display: flex;
    margin: 0;
}

aside {
    width: 21%;
    /* Fixed sidebar on the left */
    flex: 0 0 auto; /* Prevent sidebar from growing or shrinking */
    width: 280px; /* Adjust the width as needed */
    position: fixed; /* Fix the sidebar in place */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it on the left side */
    bottom: 0; /* Extend it to the bottom of the viewport */
}

.container {
    max-width: 100%;
}

.content {
    /* Scrollable content area */
    flex: 1; /* Allow content to grow and take remaining space */
    margin-left: 260px; /* Adjust for the sidebar width */
    margin-top: 20px;
    padding: 20px; /* Add padding as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

/* Hide the scrollbar for webkit-based browsers */
.content::-webkit-scrollbar {
    display: none;
}

.container-fluid {
    padding-bottom: 10px;
    border-bottom: 1px solid #a0a0a0;
}

.content {
    height: 100vh;
}

.navbar-brand {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
	font-size: 35px;
}

.content {
    height: 100vh;
}

.card-header {
    background: #007FE1;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid #007FE1;
}

label {
    font-weight: bold;
}
