@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');

.badge {
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}
/* NAV BAR */
header {
    background-color: #007FE1;
    width: 100%; 
}
.nav-item a {   
    color: #fff;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    margin: 6px;
}
.nav-item a:after {
   display: block;
   content      : '';
   border-bottom: solid 2px #fff;
   transform    : scaleX(0);
   transition   : transform 300ms ease-in-out;
}

.nav-item a:hover:after {
   transform: scaleX(1);
}
.login {
  background-color: #00E1D3;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 30px;
  float: left;
  margin-left: 10%;
  margin-top: 8px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
}
/*About Banner */
.about-banner {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1156%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 127%2c 225%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c487.798C90.265%2c483.399%2c171.226%2c431.677%2c239.01%2c371.907C300.442%2c317.738%2c342.866%2c245.446%2c364.447%2c166.437C383.957%2c95.009%2c367.217%2c21.976%2c354.518%2c-50.972C342.192%2c-121.774%2c339.556%2c-199.149%2c291.5%2c-252.586C243.712%2c-305.726%2c168.679%2c-321.88%2c98.544%2c-335.611C33.389%2c-348.367%2c-31.473%2c-342.088%2c-96.469%2c-328.544C-166.517%2c-313.947%2c-243.637%2c-305.675%2c-293.123%2c-253.993C-343.298%2c-201.591%2c-346.466%2c-122.964%2c-361.313%2c-51.949C-377.171%2c23.903%2c-400.753%2c99.429%2c-382.772%2c174.806C-362.588%2c259.419%2c-321.806%2c340.893%2c-254.466%2c395.957C-183.213%2c454.221%2c-91.933%2c492.278%2c0%2c487.798' fill='%230075cf'%3e%3c/path%3e%3cpath d='M1440 1086.891C1544.698 1085.022 1651.027 1081.632 1742.653 1030.937 1837.787 978.302 1922.141 899.524 1961.693 798.249 2000.362 699.236 1993.411 585.193 1955.521 485.879 1921.3519999999999 396.31899999999996 1821.503 355.973 1763.766 279.455 1700 194.945 1702.0810000000001 43.17100000000005 1600.081 14.815000000000055 1497.638-13.664999999999964 1418.955 113.93200000000002 1321.525 156.51100000000002 1240.09 192.10000000000002 1140.821 183.913 1075.43 244.098 1007.0830000000001 307.003 960.274 397.882 958.371 490.752 956.538 580.238 1038.795 645.606 1065.454 731.049 1097.629 834.172 1052.007 967.461 1130.3229999999999 1041.866 1207.509 1115.1970000000001 1333.55 1088.7910000000002 1440 1086.891' fill='%230089f3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1156'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  height: 100%;
  border-top:1px solid #f5f5f5;
}


/*ABOUT*/
.container {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
 .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
  }
  .row-about {
    display: flex;
    gap: 15px;
  }
  /*Footer*/
footer {
  background-color: #007FE1;
}
