<nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img [src]="logo ? logo : 'assets/img/profile-pic.png'" alt="profile pic">
          </span>
          <div class="text header-text">
            <span class="main">{{organization}}</span><br>
            <span class="sub">{{orgCode}}</span>
          </div>
        </div>
        <i class="bx fa-solid fa-arrow-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="search-bar">
              <i class="bx fa-solid fa-magnifying-glass icons"></i>
              <input type="search" placeholder="Search..." />
            </li>
            <li class="nav-link">
                <a routerLink="/org-memverification">
                <i class="bx bi-patch-check-fill icons"></i>
                <span class="text nav-text">Membership Verification</span>
              </a>
            </li>
            <li class="nav-link">
                <a routerLink="/org-memreject">
                <i class="bx bi-patch-minus-fill icons"></i>
                <span class="text nav-text">Rejected Applicants</span>
              </a>
            </li>
            <li class="nav-link">
                <a routerLink="/org-members">
                <i class="bx fa-solid fa-people-group icons"></i>
                <span class="text nav-text">Members</span>
              </a>
            </li>
            <li class="nav-link">
                <a routerLink="/org-memforms">
                <i class="bx fa-solid fa-file-lines icons"></i>
                <span class="text nav-text">Membership Form</span>
              </a>
            </li>
            <li class="nav-link">
                <a (click)="redirecttoOrgEvent(orgID)">
                <i class="bx fa-regular fa-calendar-days icons"></i>
                <span class="text nav-text">Events</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
            <li class="nav-link">
                <a routerLink="/org-profile">
                    <i class="bx fa-solid fa-user icons"></i>
                    <span class="text nav-text">Proflile</span>
                  </a>
                </li>
            <li class="nav-link">
              <a (click)="logout()">
                <i class="bx fa-solid fa-right-from-bracket icons"></i>
                <span class="text nav-text">Log Out</span>
              </a>
            </li>
          </div>
      </div>
    </nav>


<!-- <div class="container">
    <div class="sidebar">

        <div class="head">
            <div class="user-img">
                <img [src]="logo ? logo : 'assets/img/profile-pic.png'" alt="profile pic">
            </div>

            <div class="user-details">
                <p class="title">{{orgCode}}</p>
                <p class="name">{{organization}}</p>
            </div>
        </div>
        
        <div class="nav">
            <div class="menu">
                <p class="title">Main</p>

                <ul>

                    <li>
                        <a routerLink="/org-memverification">
                            <i class="bi bi-patch-check-fill"></i>
                            <span class="text">Membership Verification</span>  
                        </a>
                    </li>

                    <li>
                        <a routerLink="/org-memreject">
                            <i class="bi bi-patch-minus-fill"></i>
                            <span class="text">Rejected Applicants</span>  
                        </a>
                    </li>

                    <li>
                        <a routerLink="/org-members">
                            <i class="fa-solid fa-people-group"></i>
                            <span class="text">Members</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/org-memforms">
                            <i class="fa-solid fa-file-lines"></i>
                            <span class="text">Membership Form</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="redirecttoOrgEvent(orgID)">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span class="text">Events</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="menu-low">
                <p class="title">Account</p>

                <ul>
                    <li>
                        <a routerLink="/org-profile">
                            <i class="fa-solid fa-user"></i>
                            <span class="text">Profile</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span class="text" (click)="logout()">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>   -->
