<body>
    <div class="container">
        <aside>
            <app-mem-navbar></app-mem-navbar>
        </aside>

        <div class="content"*ngFor="let OrganizationItem of orgInfo">
            <div class="card-horizontal gap-2 text-center justify-content-center row">

              <div class="card">
                <img src="assets\img\bg_04.png" class="card-img" width="auto" height="270">
                <div class="card-img-overlay d-flex center">
                  <div class="img-square-wrapper">
                    <img class="" [src]="OrganizationItem.logo ? OrganizationItem.logo : 'assets/img/profile-pic.png'" alt="Organization Logo" style="width: auto; height: 170px;padding-top: 15px;">
                  </div>
                  <div class="card-body" *ngFor="let status of membershipStatus" >
                    <h4 class="card-text mb-0" style="font-weight: 700;" name="orgName" value="orgName">{{OrganizationItem.orgName}}</h4>
                    <p class="card-text mb-0">{{OrganizationItem.about}}</p>
                    <button class="btn btn-primary"  style="background-color: green; border:none;" *ngIf="status[0]?.isVerified">MEMBER</button>
                    <button class="btn btn-primary" style="background-color: green; border:none;"  *ngIf="status.length > 0 && !status[0]?.isVerified && !status[0]?.isRejected">WAITING FOR VERIFICATION</button>
                     <button class="btn btn-primary" style="background-color: green; border:none;" (click)="redirectToMemOrMemForm(OrganizationItem._id)" *ngIf="status.length === 0 ||
                      (status[0]?.isRejected && !status[0]?.isVerified)">REGISTER</button>
                    <p class="card-text" style="font-size: .80rem;" *ngIf="status.length > 0 && !status[0]?.isVerified && !status[0]?.isRejected">If the Register button appears the next time you visit, it means that your membership application was rejected. Email this organization for clarifications and register again. Here's your reference number: <span style="color: blue;"> {{status[0]._id}}</span></p>
                  </div>
                </div>
              </div>


              <div class="col-xl-12 col-md-6 mb-1 justify-content-center">
                <div class="card border-left-primary h-100 py-2">
                    <div class="card-body">
                      <div class="col mr-2">
                        <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">History</h4>
                        <p class="card-text" name="orgHistory" value="orgHistory">{{OrganizationItem.orgHistory}}</p>
                      </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-md-6 mb-4 justify-content-center">
                  <div class="card border-left-primary h-100 py-2">
                    <div class="card-body">
                      <div class="col mr-2">
                        <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">Mission</h4>
                        <ng-container *ngIf="OrganizationItem.mission; else noCoreValues">
                          <p class="card-text">{{OrganizationItem.mission}}</p>
                        </ng-container>
                        <ng-template #noCoreValues>
                          <p class="card-text">No mission available</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-4 justify-content-center">
                  <div class="card border-left-primary h-100 py-2">
                    <div class="card-body">
                      <div class="col mr-2">
                        <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">Vision</h4>
                        <ng-container *ngIf="OrganizationItem.Vision; else noCoreValues">
                          <p class="card-text">{{OrganizationItem.coreValues}}</p>
                      </ng-container>
                      <ng-template #noCoreValues>
                          <p class="card-text">No vision available</p>
                      </ng-template>                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-4 justify-content-center">
                  <div class="card border-left-primary h-100 py-2">
                    <div class="card-body">
                      <div class="col mr-2">
                        <h4 class="text-xs font-weight-bold text-primary text-uppercase mb-1 p-0" style="font-weight: 700;">Core Values</h4>
                        <ng-container *ngIf="OrganizationItem.Vision; else noCoreValues">
                          <p class="card-text">{{OrganizationItem.coreValues}}</p>
                      </ng-container>
                      <ng-template #noCoreValues>
                          <p class="card-text">No vision available</p>
                      </ng-template>
                            </div>
                    </div>
                  </div>
                </div>
              </div>


        </div>
    </div>



