@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f5fa;
}

.container {
    display: flex;
    margin: 0;
    max-width: 100%;
}
aside {
    width: 21%;
    /* Fixed sidebar on the left */
    flex: 0 0 auto; /* Prevent sidebar from growing or shrinking */
    width: 280px; /* Adjust the width as needed */
    position: fixed; /* Fix the sidebar in place */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it on the left side */
    bottom: 0; /* Extend it to the bottom of the viewport */
}

.content {
    /* Scrollable content area */
    flex: 1; /* Allow content to grow and take remaining space */
    margin-left: 260px; /* Adjust for the sidebar width */
    margin-top: 20px;
    padding: 20px; /* Add padding as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    height: 100vh;
}
/*Horizontal Scrolling Cards*/
.scrolling-wrapper{
	overflow-x: auto;
}
h1{
	font-weight: 700;
	font-size: 3.4em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}
.card-date {
    font-weight: 800;
    color: gray;
}

.card-text {
    margin-bottom: 3px;
    margin-top: 0;
}

.card-eventtitle {
    margin-bottom: 5px;
    font-weight: 800;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.img-preview {
    height: 200px;
    width: 180px;
    border-bottom-left-radius: .3rem;
    border-top-left-radius:.3rem ;
}

/* Hide the scrollbar for webkit-based browsers */
.content::-webkit-scrollbar {
    display: none;
}

.container-fluid {
    padding-bottom: 10px;
    border-bottom: 1px solid #a0a0a0;
}

.navbar-brand {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
	font-size: 35px;
}


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.text-title {
    padding: 10px;
    padding-bottom: 0;
}

.card {
    font-family: 'Fira Sans', sans-serif;
}

.card-text {
    margin-bottom: 3px;
    margin-top: 0;
}

.card-eventtitle {
    margin-bottom: 5px;
    font-weight: 800;
}

.card-title1 {
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid #435d7d;
}

.card-body {
    justify-content: center;
    align-items: center;
}

.btn {
	margin: 10px;
	border-radius: 49px;
	padding-left: 30px;
	padding-right: 30px;
}

.img-logo {
    height: 200px;
    width: 200px;
}