
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="abc px-4 py-5 px-md-5 text-center text-lg-start" style="height: 100vh;">
      <div class="container">
        <button class="back-btn" (click)="backToLandingPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home</button>
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Your <span class="text-white">Onboarding</span><br />
              <span class="text-white">Journey</span> starts here!
            </h1>
            <p style="color: whitesmoke;">
              To launch your organization's onboarding journey. Please log in to the onboarding system in order to update, create, and delete the updates and announcements that your organization posted.
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form  [formGroup]="form" (submit)="submit()">
                  <div class=" d-flex justify-content-center">
                    <img class="bi mt-4 mb-3" src="assets/img/logo-name.png">
                  </div>

                  <div class=" d-flex justify-content-center p-0 mb-0">
                    <h3 class="justify-content-center m-0 p-0">Log In</h3>
                  </div>

                  <div class=" d-flex justify-content-center">
                    <p style="color: hsl(217, 10%, 50.8%); font-size: 18px;"> Please fill in the necessary fields.</p><br><br>
                  </div>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email" id="form3Example3" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && form.controls['email'].errors}" />
                    <div class="invalid-feedback">
                      Please enter a valid email address
                    </div>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input type="password" id="form3Example4" class="form-control" formControlName="password"/>
                    <span (click)="togglePassword()" class="fa-solid fa-eye field-icon toggle-password"></span>
                    <div class="invalid-feedback">
                      Wrong Password!
                    </div>
                  </div>

<!--  -->
                  <!-- Log In button -->
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn mb-9">
                        Log In
                    </button> <br><br>

                  </div>

                </form>
                <h6>No account yet? <a routerLink="/member-signup">Register</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
