/* * {
    font-family: 'Roboto', sans-serif !important;
} */
.abc {
    background: #007fe1;
background: -webkit-linear-gradient(0deg, #007fe1 0%, #00e1d3 100%);
background: linear-gradient(0deg, #007fe1 0%, #00e1d3 100%);
}
h1 {
    font-size: 65px;
}
h6 {
    text-align: center;
    padding-top: 20px;
}
.btn {
    width: 100%;
    font-size: 22px;
}
p {
    font-size: 22px;
}
input {
    border: 1px solid rgb(119, 119, 119);
}
.field-icon {
    float: right;
    margin-left: -15px;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }

  .form-label{
    padding-bottom: 0;
    margin: 0;
  }
