<body>
  <div class="container">
      <aside>
        <app-mem-navbar></app-mem-navbar>
      </aside>


      <div class="content">
          <div class="card">
            <h5 class="card-header">Membership Form</h5>
            <div class="card-body">
          <form class="row g-3 needs-validation" [formGroup]="form"(submit)="submit()" *ngIf="(memForm$ | async) as memForm">
          
              <div class="row" *ngIf="memForm.personalInfo">
                <div class="col-md-12 position-relative">
                  <h5 class="card-title">Personal Information </h5>
                </div>
              </div>

              <div class="col-md-12 position-relative" *ngIf="memForm.photo">

                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="photo" [checked]="form.get('photo')?.value" style="margin-right: 5px;">

                <label class="form-label" for="customFile">2x2 Photo</label>
                <input type="file" class="form-control" id="customFile" formControlName="photo1" (change)="onChange($event, 'photo1')" accept="image/*"/>

              </div>

              <br>


                <div class="col-md-6 position-relative" *ngIf="memForm.fullName">
                  <label for="validationTooltip01" class="form-label">Full Name (Last Name, First Name Middle Initial)</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="fullName" placeholder="Please enter your full name" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.sex">
      
                  <label for="validationTooltip02" class="form-label">Sex</label>
                  <select class="form-select" id="validationTooltip04" formControlName="sex" >
                    <option selected  value="">Choose...</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>          

                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.birthDate">
                  
                  <label for="validationTooltip03" class="form-label">Date of Birth</label>
                  <input type="text" class="form-control" id="validationTooltip02" formControlName="birthDate" placeholder="Date of Birth" >

                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.placeOfBirth">
                  <label for="validationTooltip03" class="form-label">Place of Birth</label>
                  <input type="text" class="form-control" id="validationTooltip02" formControlName="placeOfBirth" placeholder="City of Birth" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.civilStatus">
                  <label for="validationTooltip03" class="form-label">Civil Status</label>
                  <select class="form-select" id="validationTooltip04" formControlName="civilStatus" >
                    <option selected  value="">Choose...</option>
                    <option>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Widowed</option>
                    <option>In Civil Partnership</option>

                  </select>         
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.religion">
                  <label for="validationTooltip04" class="form-label">Religion</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="religion" placeholder="Please enter your religion" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.address">
                  <label for="validationTooltip05" class="form-label">Full Address</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="address" placeholder="Please enter your full address" >

                  <div class="invalid-tooltip">
                    Please provide your full address.
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.zip">
                  <label for="validationTooltip06" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="validationTooltip05" formControlName="zip" placeholder="Please enter your zip code" >
                  <div class="invalid-tooltip">
                    Please provide a valid zip.
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.email">
                  <label for="validationTooltip05" class="form-label">Email Address</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="email" placeholder="Please enter your email address" >
                  <div class="invalid-tooltip">
                    Please provide your email address.
                  </div>
                </div>

                <div class="col-md-6 position-relative" *ngIf="memForm.contactNum">
                  <label for="validationTooltip05" class="form-label">Contact Number</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="contactNum" placeholder="Please enter your contact number" >
                  <div class="invalid-tooltip">
                    Please provide your contact number.
                  </div>
                </div> 
                
                <div class="col-md-6 position-relative" *ngIf="memForm.linkedIn">
                  <label for="validationTooltip05" class="form-label">LinkedIn Account</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="linkedIn" placeholder="Please enter your LinkedIn account name" >

                  <div class="invalid-tooltip">
                    Please provide your LinkedIn account name.
                  </div>
                </div>   

                <div class="col-md-6 position-relative" *ngIf="memForm.facebook">
                  <label for="validationTooltip05" class="form-label">Facebook Name</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="facebook" placeholder="Please enter your Facebook name" >
                  <div class="invalid-tooltip">
                    Please provide your Facebook name.
                  </div>
                </div>   

                <div class="col-md-6 position-relative" *ngIf="memForm.skype">
                  <label for="validationTooltip05" class="form-label">Skype Username</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="skype" placeholder="Please enter your Skype name" >
                  <div class="invalid-tooltip">
                    Please provide your Sype username.
                  </div>
                </div> 

                <div class="col-md-6 position-relative" *ngIf="memForm.zoom">
                  <label for="validationTooltip05" class="form-label">Zoom Username</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="zoom" placeholder="Please enter your Zoom name" >
                  <div class="invalid-tooltip">
                    Please provide your Zoom username.
                  </div>
                </div> 
                <br>
                <br>
                <br>
                <br>

                <div class="row" *ngIf="memForm.idLicense">  >
                  <div class="col-md-12 position-relative">
                    <h5 class="card-title">ID Card and Licenses</h5>
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.prcNo">
                  <label for="validationTooltip04" class="form-label">PRC License No.</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="prcNo" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.prcDate">
                  <label for="validationTooltip04" class="form-label">PRC Registration Date</label>
                  <input type="date" class="form-control" id="validationTooltip01" formControlName="prcDate" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.prcExpiration">
                  <label for="validationTooltip04" class="form-label">PRC Expiration Date</label>
                  <input type="date" class="form-control" id="validationTooltip01" formControlName="prcExpiration" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.studentID">
                  <label for="validationTooltip04" class="form-label">Student ID No.</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="studentID" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.aviation">
                  <label for="validationTooltip04" class="form-label">Aviation License No.</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="aviation" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.caap">
                  <label for="validationTooltip04" class="form-label">CAAP ID No.</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="caap" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.taxID">
                  <label for="validationTooltip04" class="form-label">Tax ID No.</label>
                  <input type="text" class="form-control" id="validationTooltip01" formControlName="taxID" placeholder="Type N/A if not applicable" >
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>

                <div class="row" *ngIf="memForm.EducAttainment">
                  <div class="col-md-12 position-relative">
                    <h5 class="card-title">Educational Attainment</h5>
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.tertiary">
                  <label for="validationTooltip05" class="form-label">Tertiary University / College</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="tertiary" placeholder="Please enter your undergraduate university" >
                  <div class="invalid-tooltip">
                    Please provide your school.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.tertiaryDegree">
                  <label for="validationTooltip05" class="form-label">Degree</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="tertiaryDegree" placeholder="Please enter your degree" >
                  <div class="invalid-tooltip">
                    Please provide your degree.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.tertiaryYear">
                  <label for="validationTooltip05" class="form-label">Year of Graduation</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="tertiaryYear" placeholder="Please enter your year of graduation" >
                  <div class="invalid-tooltip">
                    Please provide your year of graduation.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.tertiaryDiploma">
                  <label class="form-label" for="customFile">Diploma Photo</label>
                  <input type="file" class="form-control" id="customFile" formControlName="tertiaryDiploma1" (change)="onChange($event, 'tertiaryDiploma1')" accept="image/*"/>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.masteral">
                  <label for="validationTooltip05" class="form-label">Masteral University / College</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="masteral" placeholder="Please enter your masteral university" >
                  <div class="invalid-tooltip">
                    Please provide your school.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.masteralDegree">
                  <label for="validationTooltip05" class="form-label">Degree</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="masteralDegree" placeholder="Please enter your degree" >
                  <div class="invalid-tooltip">
                    Please provide your degree.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.masteralYear">
                  <label for="validationTooltip05" class="form-label">Year of Graduation</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="masteralYear" placeholder="Please enter your year of graduation" >
                  <div class="invalid-tooltip">
                    Please provide your year of graduation.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.masteralDiploma">
                  <label class="form-label" for="customFile">Diploma Photo</label>
                  <input type="file" class="form-control" id="customFile" formControlName="masteralDiploma1" (change)="onChange($event, 'masteralDiploma1')" accept="image/*"/>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.doctoral">
                  <label for="validationTooltip05" class="form-label">Doctoral University / College</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="doctoral" placeholder="Please enter your doctoral university" >
                  <div class="invalid-tooltip">
                    Please provide your school.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.doctoralDegree">
                  <label for="validationTooltip05" class="form-label">Degree</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="doctoralDegree" placeholder="Please enter your degree" >
                  <div class="invalid-tooltip">
                    Please provide your degree.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.doctoralYear">
                  <label for="validationTooltip05" class="form-label">Year of Graduation</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="doctoralYear" placeholder="Please enter your year of graduation" >
                  <div class="invalid-tooltip">
                    Please provide your year of graduation.
                  </div>
                </div>

                <div class="col-md-3 position-relative" *ngIf="memForm.doctoralDiploma">
                  <label class="form-label" for="customFile">Diploma Photo</label>
                  <input type="file" class="form-control" id="customFile" formControlName="doctoralDiploma1" (change)="onChange($event, 'doctoralDiploma1')" accept="image/*"/>
                </div>

                <br>
                <br>
                <br>
                <br>
                
                <div class="row" *ngIf="memForm.employmentDetails">
                  <div class="col-md-12 position-relative">
                    <h5 class="card-title">Employment Details</h5>
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.employer">
                  <label for="validationTooltip05" class="form-label">Current Employer</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="employer" placeholder="Please enter your current employer" >
                  <div class="invalid-tooltip">
                    Please provide your current employer.
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.jobTitle">
                  <label for="validationTooltip05" class="form-label">Job Title</label>
                  <input type="text" class="form-control" id="validationTooltip03" formControlName="jobTitle" placeholder="Please enter your job title" >
                  <div class="invalid-tooltip">
                    Please provide your job title.
                  </div>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.employerAdd">
                  <label for="validationTooltip05" class="form-label">Employer Address</label>
                  <input type="text" class="form-control" id="employerAdd" formControlName="employerAdd"  placeholder="Please enter your employer address" >
                  <div class="invalid-tooltip">
                    Please provide your employer address.
                  </div>
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="row" *ngIf="memForm.membership">
                  <div class="col-md-12 position-relative">
                    <h5 class="card-title">Membership Details and Categories</h5>
                  </div>
                </div>

                <div class="col-md-12 position-relative" *ngIf="memForm.membership">
                  <label for="validationTooltip03" class="form-label">Membership Type</label>
                  <select class="form-select" id="validationTooltip04" formControlName="chooseMem" >
                    <option selected  value="">Choose...</option>
                    <option>{{memForm.memType1Input}}</option>
                    <option>{{memForm.memType2Input}}</option>
                    <option>{{memForm.memType3Input}}</option>
                   

                  </select>         
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType1">
                  <label class="form-label">{{memForm.memType1Input}}</label>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType2">
                  <label class="form-label">{{memForm.memType2Input}}</label>
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType3">
                  <label class="form-label">{{memForm.memType3Input}}</label>
                </div>
                
                <div class="col-md-4 position-relative" *ngIf="memForm.memType1Details">
                  <label for="validationTooltip05" class="form-label text-primary">Qualification Details</label>
                  <p class="card-text">{{memForm.memType1DetailsInput}}</p>                
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType2Details">
                  <label for="validationTooltip05" class="form-label text-primary">Qualification Details</label>
                  <p class="card-text">{{memForm.memType2DetailsInput}}</p>                
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType3Details">
                  <label for="validationTooltip05" class="form-label text-primary">Qualification Details</label>
                  <p class="card-text">{{memForm.memType3DetailsInput}}</p>                
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType1Fee">
                  <label for="validationTooltip05" class="form-label text-primary">Membership Fee Price</label>
                  <p class="card-text">{{memForm.memType1FeeInput}}</p>                
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType2Fee">
                  <label for="validationTooltip05" class="form-label text-primary">Membership Fee Price</label>
                  <p class="card-text">{{memForm.memType2FeeInput}}</p>                
                </div>

                <div class="col-md-4 position-relative" *ngIf="memForm.memType3Fee">
                  <label for="validationTooltip05" class="form-label text-primary">Membership Fee Price</label>
                  <p class="card-text">{{memForm.memType3FeeInput}}</p>                
                </div>

                <div class="row" *ngIf="memForm.payment">
                  <div class="col-md-12 position-relative">
                    <h5 class="card-title">Payment</h5>
                  </div>
                </div>
             

                <div class="col-md-12 position-relative" *ngIf="memForm.memType1Process">
                  <label for="validationTooltip05" class="form-label text-primary">Payment Process</label>
                  <textarea class="form-control" disabled>{{memForm.memType1ProcessInput}}></textarea>
                  
                         
                </div>


                <div class="col-md-12 position-relative" *ngIf="memForm.payment">
                  <label class="form-label text-primary" for="customFile">Proof of Payment</label>
                  <input type="file" class="form-control" id="customFile" formControlName="payment1" (change)="onChange($event, 'payment1')" accept="image/*"/>
                </div>

               
                
                <div class="col-12">
                  <input type="submit"  class=" btn btn-success action-button"  />
                </div> 
           
              </form>
              
            </div>
          </div>  
      </div>

</div>
</body>


