<header class="d-flex justify-content-center py-3">
  <ul class="nav">
    <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
    <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
    <li class="nav-item"><a routerLink="/developers" class="nav-link">Developers</a></li>
    <li class="nav-item-1"><a routerLink="/developers" class="login">Login</a></li>
  </ul>
</header>

<div class="about-banner d-inline-flex py-5 text-center text-white">
  <div class="col-md-6 p-5">
      <h1 class="text-white-emphasis" style="font-size: 60px;">Our Website's Features and Services</h1>  
      <p class="col-lg-8 mx-auto fs-4 py-3">Onboarder offers you Events and Membership Management. Our platform is designed to simplify and streamline these critical aspects of your organization or community.</p>
      <button class="btn my-4 px-5 py-2 rounded-pill text-dark" style="background-color: #fff; filter: drop-shadow(3px 3px 5px #707070); font-weight: 500;" routerLink="/auth-login">Get Started</button>
    </div>

  <div class="col-md-6">
      <img src="assets\img\1.png" width="100%" class="" style="filter: drop-shadow(3px 3px 5px #707070);">
  </div>
    </div>
    

<div id="Services" class="container my-5">
  <div class="p-3 text-center rounded-3">
    <h1 class="services text-body-emphasis" style="font-size: 50px;">Our Services</h1>
    <p class="col-lg-8 mx-auto fs-4 p-3 text-muted">
      We are committed in solving your membership and event management problems so we implement these features in accordance with our vision.
    </p>
    <div class="gap-2 mb-5">
      <!---Our Services Code-->
      <div class="container">
        <div class="row">
          <div class="service">
            <i class="fa-solid fa-calendar-days"></i>
            <h2>Event Management</h2>
            <p>
              Event creation and customization. Event registration and ticketing. Event scheduling and calendar integration. Speaker or presenter management.
            </p>
          </div>
          <div class="service">
            <i class="fa-solid fa-people-group"></i>
            <h2>Membership Management</h2>
            <p>
              Member registration and profiles. Membership levels and pricing. Renewal and membership dues management. Member directory and search.
            </p>
          </div>
          <div class="service">
            <i class="fa-solid fa-money-bill-1"></i>
            <h2>Payment Processing</h2>
            <p>
              Members can upload a proof of their payment for fast payment processing and validation.
            </p>
          </div>
          <div class="service">
            <i class="fa-solid fa-chart-simple"></i>
            <h2>Reporting and Analytics</h2>
            <p>
              Event attendance and membership tracking.
            </p>
          </div>
          <div class="service">
            <i class="fas fa-mobile-alt"></i>
            <h2>Content Management</h2>
            <p>
              Document and resource sharing. Access control for content.
            </p>
          </div>
        </div>
    </div>
      <!---End--->
    </div>
  </div>
</div>

<!--Features Section-->




<footer class="bg-primary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 text-white">
    © 2023 Copyright: Technovators | Academic Year 2023 - 2024
  </div>
</footer>
