
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Plus+Jakarta+Sans:ital,wght@0,400;1,700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
  }
  
  html {
    height: 100%
  }
  
  p {
    color: grey
  }
  
  #heading {
    text-transform: uppercase;
    color: #007FE1;
    font-weight: 600;
    font-size: 35px;
  }
  
  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }
  
  .form-card {
    text-align: left
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none
  }
  
  #msform input,
  #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #007FE1;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
  }
  
  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #007FE1;
    outline-width: 0
  }
  
  #msform .action-button {
    width: 100px;
    background: #007FE1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
  }
  
  #msform .action-button:hover,
  #msform .action-button:focus {
    background-color: #007FE1
  }
  
  #msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
  }
  
  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    background-color: #000000
  }
  
  .card {
    z-index: 0;
    border: none;
    position: relative
  }
  
  .fs-title {
    font-size: 25px;
    color: #007FE1;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
  }
  
  .purple-text {
    color: #007FE1;
    font-weight: normal
  }
  
  .steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
  }
  
  .fieldlabels {
    color: gray;
    text-align: left
  }
  
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
  }
  
  #progressbar .active {
    color: #007FE1;
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 16.5%;
    float: left;
    position: relative;
    font-weight: 400
  }
  
  #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f06a"
  }
  
  #progressbar #information:before {
    font-family: FontAwesome;
    content: "\f129"
  }
  #progressbar #image:before {
    font-family: FontAwesome;
    content: "\f030"
  }
  
  #progressbar #goals:before {
    font-family: FontAwesome;
    content: "\f024"
  }
  
  #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
  }
  
  #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
  }
  
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #007FE1;
  }
  
  .progress {
    height: 20px
  }
  
  .progress-bar {
    background-color: #007FE1;
  }
  
  .fit-image {
    width: 100%;
    object-fit: cover
  }

  .modal-confirm {		
    color: #434e65;
    width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;   
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
  }
  .modal-confirm .close:hover {
    opacity: 0.8;
  }
  .modal-confirm .icon-box {
    color: #fff;		
    text-align: center;
  }
  .modal-confirm .icon-box i {
    font-size: 130px;
    margin: -4px 0 0 -4px;
  }
  .modal-confirm.modal-dialog {
    margin-top: 80px;
  }
  .modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
  }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
  }
  .modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
  }
  .modal-confirm .btn i {
    margin-top: 6px;
    margin-left: 3px;
    font-size: 15px;
    float: right;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
