@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');

/* NAV BAR */
a{
  text-decoration:none;
}
.nav-bar{
  background-color: #007FE1;
  width: 100%;
  border-bottom: 1px solid white;
}
.nav-hold{
  display:block;
  width: 90%;
}
.nav-logo{
  float: left;
  display: block;
  padding: 20px 0px 0px 20px;
}
.nav-logo img {
  width: 250px;
}
.nav-items{
  float: right;
  margin: 18px 0 0;
}
.nav-items li {
  display: block;
  float: left;
  padding: 15px;
  margin-left: 10px;
}
.nav-items li a {
  color: #f9f9f9;
  font-size: 22px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 800;
  padding: 7px;
  position: relative; /* Added for positioning the pseudo-element */
}
.nav-items li a:after {
  content: '';
  display: block;
  border-bottom: solid 3px #02e6ee;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-items li:hover a:after {
  transform: scaleX(1);
}
.login-button{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  color: #FFF;
  font-size: 20px;
  padding: 4px 22px 7px;
  border-radius: 30px;
  margin-left: 5%;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.nav-hold { 
  overflow:hidden;
}
.nav-menu {
  display: none;
}
/*media Queries*/
@media screen and (max-width: 768px){
  .nav-menu{
    display: block;
    float: right;
    padding: 25px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
  }
  .nav-items{
    width: 100%;
    float: left;
    height: 0px;
    padding:0px;
    margin:0px;
    
  }
  .nav-items li{
    width: 100%;
    display: block;
  }  
}
.nav-open{
  height: auto;
}
/*About Banner */
.banner {
  background-image: url("src\assets\img\bg_06.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  border-top:1px solid #f5f5f5;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 40px;
  filter:brightness(85%);
  color: white;
}
.banner h1 {
    font-size: 90px;
    padding: 15px;
    text-align: center;
}
.banner h2 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
.back-btn {
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  border: none;
  padding: 0;
  margin: 0;
}
.back-btn:hover {
  color: #f1ebeb;
}
.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}
  
.event-container .upcoming-events {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 20px;
    margin: 15px;
}

.event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.event .event-left {
    background: rgba(0, 127, 225, 0.25);
    /* max-width: 100%;  */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 8px 48px; */
    border-radius: 8px 0 0 8px;
    position: relative;
}

.event .event-left .event-date {
    top: 20px;
    left: 20px;
    position: absolute;
    color: #fff;
    z-index: 1;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
  
.event .event-left .date {
    width: 75px;
	  font-size: 1.5em;
	  line-height: 1em;
	  font-weight: bold;
	  text-align: center;
    padding: .5em 0;
	  margin-bottom: .7em;
    box-shadow:0px 1px 0px #e0e0e041;
    background: #007FE1;
}

.event .event-left img {
    max-width: 300px;
    display: block;
    opacity: 0.7;
}
.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}
.event .event-right .event-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.event .event-right .event-details i {
  font-size: 15px;
  padding-top: 2px;
  padding-right: 5px;
  
}
.event .event-right h3.event-title {
    font-size: 24px;
    margin: 10px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
  }
  
.event .event-right .event-time {
    background: #f5e79c;
    display: flex;
    /* width: 120px; */
    padding: 8px;
    border-radius: 16px;
    margin: 15px 0 5px;
    font-size: 14px;
}
span {
    padding-left: 5px;
}
/* .event .event-right .event-time img {
    height: 20px;
    padding-right: 8px;
} */
.event .event-right .event-location {
    background: #8ce291;
    display: flex;
    /* width: 250px; */
    padding: 8px;
    border-radius: 16px;
    margin: 10px 0;
    font-size: 14px;
}  
.event .event-right .event-seats {
    background: #e6870b9d;
    display: flex;
    height: 40px;
    padding: 8px;
    border-radius: 16px;
    margin: 5px 0 5px;
    font-size: 14px;

} 

.event .event-right .event-fee {
    background: #007fe173;
    display: flex;
    height: 40px;
    padding: 8px;
    border-radius: 16px;
    margin: 5px 10px 5px;
    font-size: 14px; 
  
} 
.event .event-right a {
    background-color: #007fe18c;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 16px;
    box-shadow: 4px 8px 8px -6.5px #383636;
    float: right;
}
.event .event-right a:hover {
    background-color: #007fe1cc;
}
  @media (max-width: 550px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
  }
label{
    color:#000;
    font-weight:500;
    background:#fff;
    margin-bottom:5px;
    padding:4px;
    border-radius:4px;
}
input{
    margin-bottom:10px
}
  .sub-bg {
    background: url('https://the-french.co.uk/wp-content/uploads/2018/02/111-400x600.jpg')no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subs-header{
    padding-top: 0px;
    border-bottom: 0px;
}
.heading-text h4{
    color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border: 2px solid #c7c7c7;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 10px 12px 13px -7px rgba(122, 122, 122, 0.7);
    -moz-box-shadow: inset 10px 12px 13px -7px rgba(122, 122, 122, 0.7);
    -webkit-box-shadow: inset 10px 12px 13px -7px rgba(122, 122, 122, 0.7);
    -o-box-shadow: inset 10px 12px 13px -7px rgba(122, 122, 122, 0.7);
    background-color: #6fce43;
}
.heading-text{
    margin-top: 10px;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
      outline: none;
}
#susbc-form-thank .modal-content{
    background-color: #f5f5f5;
}

.btn-reg {
  margin: 3px 0 15px;
  float: right;
  background: #007FE1;
  padding: 8px;
  width: 110px;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 5px #707070;
}
.btn-reg:hover {
  background: #0492ff;
}

.close {
  border: none;
  background-color: white;
  font-size: 20px;
}
/*Footer*/
footer {
  background-color: #007FE1;
}


