<nav class="nav-bar">
  <div class="nav-hold">
    <div class="nav-logo">
      <a href="#"><img src="assets/img/logo-name1.png"></a>
    </div>
    <div class="nav-menu" id="nav">&#9776;</div>
        <ul class="nav-items">
          <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
          <li class="nav-item"><a routerLink="/guestEvents" class="nav-link">Events</a></li>
          <li class="nav-item"><a routerLink="/developers" class="nav-link">Developers</a></li>
          <li><button class="login-button" (click)="redirectToLogin()">Login</button></li>
    </ul>
  </div>
</nav>

<div class="banner">
  <button class="back-btn" (click)="backToOrgsPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>  
  <h1>Events</h1>
  <h2>Browse through our Events Calendar to find out what’s going on throughout the year.</h2>
</div>

<div class="event-container">
  <h3 class="upcoming-events">UPCOMING EVENTS</h3>

  <div *ngIf="orgEvent$ | async as orgEventArray; else loading"> 
    <div class="event" *ngFor="let event of orgEventArray">
      <div class="event-left">
          <div class="event-date">
              <p class="date">{{event.eventDate}}</p>
          </div>
          <img [src]="event.poster ? event.poster : 'assets/img/profile-pic.png'" alt="Events Banner">
      </div>
  
      <div class="event-right">     
          <h3 class="event-title">{{event.eventTitle}}</h3>
          <div class="event-description">
              {{event.eventDesc}}
          </div>
          <div class="event-time">
              <i class="fa fa-clock" aria-hidden="true"></i> <span>{{event.eventTime}}</span>
          </div>
          <div class="event-location">
              <i class="fa fa-location-dot"></i> <span>{{event.location ? event.location : 'No data provided'}}</span>
          </div>
          <div class="register-btn">
              <button class="btn btn-primary" (click)="showModalAfterDelay(event._id, event.poster, event.eventTitle, +event.eventSeats)" [disabled]="+event.eventSeats === 0">Register</button>
          </div>
      </div>
    </div>
  </div>
    
  <div class="modal fade" id="susbc-form" tabindex="-1" role="dialog">
    <div class="modal-dialog shadow-lg p-3 mb-5 bg-white rounded">
      <div class="modal-content sub-bg">
        <div class="modal-header subs-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img class="img-fluid" [src]="poster ? poster : 'assets/img/image-holder.png'" alt="" style="width: 30%;">
            <h4>{{eventTitle}}</h4>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form id="subs-form" (submit)="onSubmitForm($event)" novalidate [formGroup]="form">
                <div class="form-group row">
                  <div class="col-md-12 col-xs-12">
                    <label for="fullName" class="">Full Name </label>
                    <input type="text" class="form-control" id="fullName" placeholder="Please enter your full name" formControlName="guestName" required>
                  </div>
                  <div class="col-md-12 col-xs-12">
                    <label for="emailAddress">Email Address </label>
                    <input type="text" class="form-control" id="emailAddress" placeholder="Please enter your email address" formControlName="emailAddress" required>
                  </div>
                  <div class="col-md-12 col-xs-12">
                    <label for="contactNo">Contact No. </label>
                    <input type="text" class="form-control" id="contactNo" placeholder="Please enter your contact number" formControlName="contactno" required>
                  </div>
                  <div class="col-md-12 col-xs-12">
                    <label for="proofofPayment">Proof of Payment </label>
                    <input type="file" class="form-control" id="proofofPayment" placeholder="Please upload proof of payment" formControlName="proofofPayment" (change)="onChange($event)" accept="image/*" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="modal fade" id="susbc-form-thank" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content sub-bg shadow-lg">
        <div class="modal-header subs-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="assets/img/success.png" alt="">
          </div>
          <div class="heading-text text-center">
            <h4>Registered Successfully!</h4>
            <h6>You are now officially registered for this event. Check your email for more information.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <!-- Display loading message -->
    <p>Loading...</p>
  </ng-template> 
</div>

<footer class="bg-primary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 text-white">
    © 2023 Copyright: Technovators | Academic Year 2023 - 2024
  </div>
</footer>