@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D9D9D9;
}

.container {
    display: flex;
    margin: 0;
}

aside {
    width: 21%;
    /* Fixed sidebar on the left */
    flex: 0 0 auto; /* Prevent sidebar from growing or shrinking */
    width: 280px; /* Adjust the width as needed */
    position: fixed; /* Fix the sidebar in place */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it on the left side */
    bottom: 0; /* Extend it to the bottom of the viewport */
}

.container {
    max-width: 100%;
}

.content {
    /* Scrollable content area */
    flex: 1; /* Allow content to grow and take remaining space */
    margin-left: 260px; /* Adjust for the sidebar width */
    margin-top: 20px;
    padding: 20px; /* Add padding as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

/* Hide the scrollbar for webkit-based browsers */
.content::-webkit-scrollbar {
    display: none;
}

.container-fluid {
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
}

.content {
    height: 100vh;
}

.navbar-brand {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
}

.content {
    height: 100vh;
}

.card-header {
    background: #435d7d;
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
}

.form-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid #435d7d;
}

.card-title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.card-event-deets {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

label {
    font-weight: bold;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (height/width) */
}

.iframe-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
