body {
    background-image: url('data:image/svg+xml,<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 127, 225, 1)" offset="0%"></stop><stop stop-color="rgba(0, 225, 211, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(%23sw-gradient-0)" d="M0,196L240,187.8C480,180,960,163,1440,179.7C1920,196,2400,245,2880,236.8C3360,229,3840,163,4320,163.3C4800,163,5280,229,5760,236.8C6240,245,6720,196,7200,163.3C7680,131,8160,114,8640,147C9120,180,9600,261,10080,277.7C10560,294,11040,245,11520,245C12000,245,12480,294,12960,261.3C13440,229,13920,114,14400,65.3C14880,16,15360,33,15840,89.8C16320,147,16800,245,17280,285.8C17760,327,18240,310,18720,302.2C19200,294,19680,294,20160,318.5C20640,343,21120,392,21600,351.2C22080,310,22560,180,23040,163.3C23520,147,24000,245,24480,236.8C24960,229,25440,114,25920,122.5C26400,131,26880,261,27360,269.5C27840,278,28320,163,28800,122.5C29280,82,29760,114,30240,155.2C30720,196,31200,245,31680,245C32160,245,32640,196,33120,179.7C33600,163,34080,180,34320,187.8L34560,196L34560,490L34320,490C34080,490,33600,490,33120,490C32640,490,32160,490,31680,490C31200,490,30720,490,30240,490C29760,490,29280,490,28800,490C28320,490,27840,490,27360,490C26880,490,26400,490,25920,490C25440,490,24960,490,24480,490C24000,490,23520,490,23040,490C22560,490,22080,490,21600,490C21120,490,20640,490,20160,490C19680,490,19200,490,18720,490C18240,490,17760,490,17280,490C16800,490,16320,490,15840,490C15360,490,14880,490,14400,490C13920,490,13440,490,12960,490C12480,490,12000,490,11520,490C11040,490,10560,490,10080,490C9600,490,9120,490,8640,490C8160,490,7680,490,7200,490C6720,490,6240,490,5760,490C5280,490,4800,490,4320,490C3840,490,3360,490,2880,490C2400,490,1920,490,1440,490C960,490,480,490,240,490L0,490Z"></path></svg>');
    background-size: cover;
}
h1 {
    text-align: center;
    padding: 65px 0 0 0;
    font-size: 50px;
}
h2 {
    font-size: 38px;
}
.p1 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
p {
    font-size: 18px;
}
.container-child {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Card-child {
    background-color: #3676d7;
}