<header class="d-flex justify-content-center py-3">
  <ul class="nav">
    <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
    <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
    <li class="nav-item"><a routerLink="/developers" class="nav-link">Developers</a></li>
    <li class="nav-item-1"><a routerLink="/developers" class="login">Login</a></li>
  </ul>
</header>


<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>The Developers</h2>
      <p>Introducing our dynamic and innovative team of web developers, the driving force behind transforming ideas into stunning online realities. With a passion for cutting-edge technology and an unwavering commitment to excellence, our team is dedicated to crafting immersive web experiences that captivate and engage users.</p>
    </div>

    <div class="row">

      <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets\img\joha.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Johannah Pauline Gequillana</h4>
            <span>Web Designer</span>
            <p>gequillanajs@students.national-u.edu.ph</p>
            <div class="social">
              <a href=""><i class="fa fa-facebook-f"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-git"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets\img\gels.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Gelina Mae Robiso</h4>
            <span>Web Developer</span>
            <p>robisogr@students.national-u.edu.ph</p>
            <div class="social">
              <a href=""><i class="fa fa-facebook-f"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-git"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets\img\kathg.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Katherine Gail Victorio</h4>
            <span>Web Developer</span>
            <p>victoriokm@students.national-u.edu.ph</p>
            <div class="social">
              <a href=""><i class="fa fa-facebook-f"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-git"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets\img\jcf.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>John Christian Magno</h4>
            <span>Web Designer</span>
            <p>magnojf@students.national-u.edu.ph</p>
            <div class="social">
              <a href=""><i class="fa fa-facebook-f"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-git"></i> </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

<footer class="bg-primary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 text-white">
    © 2023 Copyright: Technovators | Academic Year 2023 - 2024
  </div>
</footer>
